.info-icons{
    /*background-image: url("/assets/images/icons8-info-32.png");*/
}
.col-red {
    color: #F44336 !important;
}
.form-group label.error {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    font-weight: normal;
    color: #F44336;
}
.dsp-none{display: none}
.dsp-block{display: block}


body.theme-welcome{background:#5e8ba4 url('/assets/images/lipi-bg.png') top center no-repeat; background-attachment: fixed; margin:0; font-family: 'Roboto', sans-serif; font-weight:400;background-size: cover;}
body.theme-welcome .container-lipi{margin:0 auto;}
body.theme-welcome .header{padding:20px 70px; text-align:left}
body.theme-welcome .header a{display:block}
body.theme-welcome .inner-content{width:540px; margin:20px auto 0; text-align:center;}
body.theme-welcome .inner-content h2{font-size:35px; line-height:40px; margin:0 0 20px; font-weight:300; color:#000;}
body.theme-welcome .inner-content h2 b{font-weight:700;}
body.theme-welcome .inner-content h3{font-size:16px; line-height:28px; margin:0 0 30px; font-weight:400; color:#000;}
body.theme-welcome .inner-content .btn-block .btn:last-child{margin:0}
body.theme-welcome .inner-content .btn-block .btn.active{color:#fff; background-color: #fe4d13;}
body.theme-welcome .inner-content .btn-block .btn{width: 220px; height: 65px; line-height: 65px; border-radius: 30px; border: solid 2px #fe4d13; color:#fe4d13; font-size:28px; text-align:center; display:inline-block; vertical-align:top; margin:0 15px 0 0; background: transparent; font-family: 'Roboto', sans-serif; outline:none; font-weight:700}        

.theme-welcome .card-body{padding-bottom:25px;}
.theme-welcome .card{background: rgba(255,255,255, 0.6); border:0; border-radius: 5px;}
.theme-welcome .card .card-header{font-size: 34px; font-weight: 700; color: #000; border: 0; background: transparent; padding: 15px 25px 10px;}
.theme-welcome .card .card-header label{font-size:16px; font-weight:400}
.theme-welcome .card .select2-container{width:100% !important}
.theme-welcome .card .form-control{border-radius: 5px; border: solid 1px #e1e0d1; color:#a2a082; padding-left:10px;box-shadow: none;}
.theme-welcome .card .select2-container--default .select2-selection--single{border-radius: 5px; border: solid 1px #e1e0d1; color:#a2a082; height:34px; outline:none}
.theme-welcome .card .select2-container--default .select2-selection--single .select2-selection__rendered{color:#a2a082; line-height: 34px; height: 34px;}
.theme-welcome .card .ms-options-wrap > button:focus, .theme-welcome .card .ms-options-wrap > button{border-radius: 5px; border: solid 1px #e1e0d1; color:#a2a082; height: 34px; padding-left: 12px; font-size:14px; outline:none}
.theme-welcome .card .btn-primary{border-radius: 21px; background-color: #fe4d13; font-size:18px; color:#fff; padding: 6px 30px; border:0}
.theme-welcome .card .select2-container--default .select2-selection--single .select2-selection__arrow b{border-width: 6px 6px 0 6px; border-color: #999 transparent transparent transparent; left: 10%;}
.theme-welcome .card .ms-options-wrap > button:after{right:10px}
.theme-welcome .card .ms-options-wrap > button:focus, .theme-welcome .card .ms-options-wrap > button{padding-right:25px;}
.theme-welcome .card .select2-container .select2-selection--single .select2-selection__rendered{padding-right:25px;}
.theme-welcome .select2-container--default .select2-results__group{-webkit-text-fill-color:#000}

@media only screen and (max-width: 767px) {
      body.theme-welcome .container-lipi{width:auto; margin:0 auto;}
      body.theme-welcome .header{text-align:center}
      body.theme-welcome .header img{width:129px}
      body.theme-welcome .inner-content{width:auto; margin:20px 20px}    
      body.theme-welcome .inner-content h2{font-size:25px; line-height:35px;}
      body.theme-welcome .inner-content h3{font-size:14px; line-height:22px;}
      body.theme-welcome .inner-content .btn-block .btn{width:118px; height:40px; line-height:40px; font-size:16px;}
      #signin_box{width: auto; max-width: 360px}
      body>div[style*="visibility: visible"], div[style*="visibility:visible"] {
            overflow: scroll !important;
            left: 5% !important;
            right: 5% !important;
            height: 100vh;
            margin:0 auto !important;
            z-index: 9999999 !important;
        }
    }

.user_area span{font-size:13px;color:#000;cursor:pointer}.user-controls .user-image{vertical-align:middle;padding-right:5px}.user-controls a span{font-size:13px;color:#000;cursor:pointer}.user_area .user-controls{display:inline-block;position:relative}.user_area .user-controls .user_name{display:inline-block;font-weight:600}.user_area .dropdown{width:65px;top:10px;right:-12px;font-weight:600;background:#f2f2f2;padding:10px;z-index:-1;position:absolute;transition:all .5s;-webkit-transition:all .5s;opacity:0;visibility:hidden}
.user_area .dropdown:before{content:"";border-right:6px solid transparent;border-left:6px solid transparent;border-bottom:8px solid #f2f2f2;position:absolute;top:-7px;right:10px;z-index:1}.user_area .dropdown li{list-style:none;margin:0 0 4px;font-size:12px;line-height:16px;text-align:right;color:#ff0}.user_area .user-controls:hover .dropdown{opacity:1;top:31px;z-index:999;visibility:visible}.user_area .login{display:block;margin-top:9px}.user_name .icon_down{display:inline-block;width:14px;height:17px;position:relative}
.user_name .icon_down:after{position:absolute;content:"";border:solid #000;width:7px;height:7px;border-width:0 2px 2px 0;top:8px;right:3px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-sizing:border-box}#login-popup{background:rgba(0,0,0,.6);position:fixed;width:100%;height:100%;left:0;top:0;overflow-y:auto;overflow-x:hidden;cursor:default;opacity:0;z-index:-1;transition:all .5s}#login-popup,#login-popup *{box-sizing:border-box;-webkit-box-sizing:border-box}
#login-popup.active{opacity:1;z-index:1000000}#signin_box{background:#f7f7f7;width:408px;height:100%;min-height:100%;padding:46px 30px;overflow-y:auto;box-shadow:0 1px 12px 0 rgba(0,0,0,0.3);position:absolute;right:-408px;top:0;transition:all .5s}#login-popup.active #signin_box{right:0;left:initial}#signin_box.loader{height:inherit;overflow:hidden}#signin_box.loader:before{position:fixed;content:"";background:rgba(0,0,0,.5);height:100%;width:inherit;right:0;top:0;z-index:11}
#signin_box.loader:after{position:absolute;content:"";width:50px;height:50px;left:50%;top:50%;margin-left:-25px;border:6px solid rgba(0,0,0,0);-webkit-animation:spin 1s linear infinite;animation:spin 1s linear infinite;border-radius:50%;border-top-color:#ff394a;border-right-color:#ff394a;z-index:12}#signin_box>div{border:1px solid #d9d9d9;padding:20px;height:auto;min-height:100%;text-align: left;}#signin_box a{text-decoration:none}#login-popup .close-btn{font-family:"proxima-regular1",sans serif;background:0;border:0;font-size:34px;line-height:1;color:#7b7b7b;transform:rotate(-45deg);position:absolute;right:-400px;top:5px;z-index:1;transition:all .5s}
#login-popup.active .close-btn{right:15px}#signin_box .form ul li{list-style:none;margin-bottom:22px}#signin_box .user-icon{margin:-45px auto 25px;width:68px;background:#f7f7f7;text-align:center}#signin_box .user-icon img{width:44px;height:44px;border-radius:50%;border:2px solid #ddd;vertical-align:middle}#socialConnectImgDiv{margin-bottom:24px}#socialConnectImgDiv button{border:0;border-radius:2px;font-size:14px;height:40px;line-height:40px;padding-left:50px;position:relative;display:block;width:100%;text-align:left;font-weight:500;box-shadow:0 2px 2px 0 rgba(0,0,0,0.24),0 0 2px 0 rgba(0,0,0,0.12);cursor:pointer}
#socialConnectImgDiv button::before{position:absolute;content:"";background:url(https://timesofindia.indiatimes.com//photo/64971829.cms) no-repeat;background-size:250px}#socialConnectImgDiv button+button,#sso-gplus-login{margin-top:16px}#socialConnectImgDiv .fb{background:#2553b4;color:#fff}#socialConnectImgDiv .fb::before{background-position:0 0;width:14px;height:29px;bottom:0;left:13px}#socialConnectImgDiv .gplus{background:#fff;color:#757575}#socialConnectImgDiv .gplus::before{background-position:-19px 0;width:19px;height:19px;left:8px;top:11px;}
#signin_box .heading{font-size:16px;line-height:1;color:#000;position:relative;text-align:center;margin-bottom:20px}#signin_box .heading span{display:inline-block;background:#f7f7f7;padding:0 10px;position:relative;z-index:1;color:#868686}#signin_box .heading:after{position:absolute;content:"";background:#d6d6d6;width:100%;height:1px;left:0;top:50%}#signin_box .heading.small{font-size:14px;color:#a2a2a2;font-weight:normal}#signin_box .heading+p{margin-bottom:20px}
#signin_box .secondary-link{display:inline-block;font-size:12px;line-height:18px;font-weight:500;color:#5b9ae4;text-transform:uppercase;margin-top:5px}#signin_box .secondary-link.disabled{cursor:default;color:#b0b0b0;text-decoration:none}#signin_box .input-field{padding-left:23px;position:relative}#signin_box .input-field::before{position:absolute;content:"";background-image:url(https://timesofindia.indiatimes.com//photo/64971829.cms);background-repeat:no-repeat;background-size:250px;left:0}#signin_box .input-field.email::before{background-position:-40px 0;width:15px;height:11px;top:10px;}
#signin_box .input-field.user-name::before{background-position:-60px 0;width:13px;height:15px;top:8px}#signin_box .input-field.password::before{background-position:-75px 0;width:13px;height:16px;top:8px}#signin_box .input-field.password .view-password,#signin_box .input-field.password .hide-password{position:absolute;width:30px;height:27px;top:0;right:0;z-index:100;cursor:pointer}#signin_box .input-field.password .view-password:before,#signin_box .input-field.password .hide-password:before{position:absolute;content:"";background:url(https://timesofindia.indiatimes.com//photo/64971829.cms) no-repeat -105px 0;background-size:250px;width:20px;height:12px;left:5px;top:7px;}
#signin_box .input-field.password .hide-password:before{opacity:1}#signin_box .input-field.password .view-password{opacity:.4}#signin_box .input-field.mobile-no::before{width:12px;height:18px;top:5px;background-position:-90px 0}#signin_box .input-field.mobile-no p{border-bottom:1px solid #888}#signin_box .input-field.mobile-no p .country-code{color:#b0b0b0;padding:0 5px;height:27px;line-height:27px;vertical-align:middle}#signin_box .input-field.mobile-no p input{border-bottom:0;display:inline-block;width:calc(100% - 45px)}
#signin_box .form{margin-bottom:20px}#signin_box .form .submit{margin-bottom:0}#signin_box input{display:block;width:100%;line-height:normal;border:0;font-size:14px;font-family: arial;}#signin_box input[type=text],#signin_box input[type=password],#signin_box input[type=number]{height:28px;border-bottom:1px solid #888;background:0;color:#222;border-radius:0}:-ms-input-placeholder{color:#222 !important}#signin_box input[type=button],#signin_box input[type=submit]{background:#be281a;box-shadow:0 2px 2px 0 rgba(0,0,0,0.24),0 0 2px 0 rgba(0,0,0,0.12);height:40px;color:#fff;text-transform:uppercase;font-weight:500;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-appearance:none;-moz-appearance:none;cursor:pointer}
#signin_box input:disabled{opacity:.4}#signin_box .regenerate-otp,#signin_box .subtext{display:inline-block;color:#b0b0b0;margin-right:5px;margin-top:5px;font-size:12px}#signin_box .form .error{color:#be281a}#signin_box .form .error input{border-color:#be281a;color:#be281a}input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill{box-shadow:0 0 0 17px #f7f7f7 inset}#signin_box .checkbox{display:block;margin:0 0 12px}#signin_box .checkbox input[type="checkbox"]{display:none}
#signin_box .checkbox label{display:inline-block;padding-left:23px;cursor:pointer;vertical-align:middle;font-weight:normal;line-height:20px;color:#000;position:relative;pointer-events: initial;}#signin_box .checkbox label:before{content:"";position:absolute;left:0;top:2px;height:14px;width:14px;line-height:15px;background:#fff no-repeat;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;border:1px solid #b1b1b1;border-radius:2px}
#signin_box .checkbox label a{color:#5b9ae4}#signin_box .checkbox input[type="checkbox"]:checked+label:before{background:#3696de;border-color:#3696de}#signin_box .checkbox input[type="checkbox"]:checked+label:after{position:absolute;content:"";border:solid #fff;width:5px;height:10px;left:5px;top:2px;border-width:0 2px 2px 0;transform:rotate(45deg)}.forget-password{display:block;font-size:12px;line-height:18px;color:#000;font-weight:500;text-align:center;text-transform:uppercase;margin-top:20px;text-decoration:underline !important}
.forget-password.disabled{cursor:default;color:#b0b0b0;text-decoration:none !important}#signin_box p{font-size:14px;line-height:18px;color:#222}#signin_box .password-conditions{padding:10px 0 0;display:none}#signin_box .password-conditions p{margin-bottom:10px}#signin_box .password-conditions ul li{font-size:14px;line-height:1;color:#666;margin-bottom:5px;position:relative;padding-left:10px}#signin_box .password-conditions ul li::before{position:absolute;content:"";background:#b2b2b2;width:6px;height:6px;left:0;top:3px;border-radius:50%;border:1px solid transparent}
#signin_box .password-conditions ul li.error{color:#b12e2a}#signin_box .password-conditions ul li.error::before{background-color:transparent;border-color:#b12e2a}#signin_box .password-conditions ul li.success{color:#43b23f}#signin_box .password-conditions ul li.success::before{background-color:#43b23f}#signin_box .errorMsg{font-size:12px;line-height:1;color:#be281a;display:none;margin-top:5px}#signin_box .successMsg{font-size:12px;line-height:1;color:#43b23f;display:none;margin-top:5px}#sso-pwdDiv,#sso-otpLoginDiv,#changeEmailIdDiv{display:none}
#signin_box .mandatory-box{background:#fff;padding:20px;margin:0 -20px -20px}#signin_box .mandatory-box p{font-size:12px;line-height:20px;color:#404040}body.disable-scroll{overflow:hidden;margin-right:17px}#signin_box .fp-success{font-size:20px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:70%;text-align:center;color:#404040}#signin_box .fp-success i{background:#43b23e;width:41px;height:41px;border-radius:50%;position:relative;margin:20px auto;display:block}#signin_box .fp-success i:before{width:17px;height:8px;border-bottom:3px solid #fff;border-left:3px solid #fff;content:"";position:absolute;left:11px;top:13px;transform:rotate(-45deg)}
#signin_box .verified{padding:0 0 20px;font-size:14px;line-height:20px}#signin_box .verified div:first-child{color:#404040}#signin_box .verified div:nth-child(2){color:#222}#signin_box .verified div:nth-child(2) strong{line-height:14px;display:inline-block;vertical-align:top}#signin_box .verified .tick,#signin_box .mn-verified .tick{display:inline-block;width:14px;height:14px;vertical-align:top;background:#43b23e;margin-left:10px;border-radius:50%;position:relative}#signin_box .verified .tick:before,#signin_box .mn-verified .tick:before{width:7px;height:3px;border-bottom:1px solid #fff;border-left:1px solid #fff;content:"";position:absolute;left:3px;top:4px;transform:rotate(-45deg)}
#signin_box .success-wrapper{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);text-align:center;width:100%}#signin_box .success-user{display:block;margin:0 auto 20px;width:42px;height:42px;background:url(https://timesofindia.indiatimes.com//photo/64971829.cms) no-repeat -130px 0;background-size:250px}#signin_box .fp-success-msg{font-size:20px;text-align:center;color:#404040;line-height:1}#signin_box .signup-section,#signin_box .signin-section{margin-top:-29px}.powered-by{width:90%;text-align:center;margin:50px auto 0;}
.powered-by img{width:220px}.powered-by:before{content:"Powered by";text-transform:uppercase;color:#868686;font-size:12px;display:block;margin:0 0 10px 0}.teams-logo{padding-top:40px;text-align:center}.teams-logo span{font-weight:bold;color:#000;font-size:15px;display:block;text-transform:capitalize}.teams-logo a{background:url(https://static.toiimg.com/photo/65470945.cms)no-repeat 0 -10000px;width:32px;height:32px;display:inline-block;margin:10px 4px 0 0}.teams-logo .toi{background-position:-6px -16px;}
.teams-logo .et{background-position:-6px -66px;}.teams-logo .nbt{background-position:-6px -116px;}.teams-logo .sm{background-position:-6px -166px;}.teams-logo .st{background-position:-6px -217px;}.teams-logo .gaana{background-position:-6px -268px;}.teams-logo .itimes{background-position:-6px -318px;}.teams-logo .tp{background-position:-6px -369px;}@-webkit-keyframes spin{from{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@keyframes spin{from{transform:rotate(0)}to{transform:rotate(360deg);}}
#signin_box .form ul{padding:0; margin:0} 


 select.select-child {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
}

select.select-child::-ms-expand {
  display: none;
}
/* Custom Select */
.custom-select {
  position: relative;
  display: flex;
  width: auto;
  height: 33px;
  line-height: 33px;
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  outline: none;
}
.theme-welcome .card select.select-child {
    flex: 1;
    padding: 0 2px;
    color: #a2a082;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
}

/* Arrow */
.custom-select::after {
  background: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  content: ' ';
  height: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  border: 6px solid rgba(0, 0, 0, 0);
  border-top-color: #999;
  margin-top: -3px;
}

body.theme-lipi .sidebar .user-info{background: url(../images/inner-bg.png) no-repeat no-repeat;}
body.theme-welcome .ms-options-wrap > .ms-options{width:90%; left:0; right:0; margin:0 auto; min-height: initial !important }  
body.theme-welcome .inner-content .btn-block .btn:hover{border-color:#000; color:#000}
body.theme-welcome .inner-content .btn-block .btn.active:hover{border-color:#000; color: #fff; background-color: #000;}
body.theme-welcome .inner-content .btn-block .btn span{display:block}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, select, textarea, input, button, .select2-results__option, option{-webkit-text-fill-color: #a2a082; opacity: 1;}
.theme-welcome .select2-container--default .select2-results__option--highlighted[aria-selected]{color:#fff; -webkit-text-fill-color: #fff; opacity: 1;}
.theme-welcome .card .btn-primary{-webkit-text-fill-color: #fff; opacity: 1;}
body.theme-welcome .tooltip-inner{ text-align: left}


